<div class="jumbotron">
<h1>Pagina inicial </h1>
<p>Paragrafo incial </p>
<%= link_to 'Sobre', home_about_path, class:'btn btn-default' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>